BasedOnStyle: LLVM
IndentWidth: 4
AlignAfterOpenBracket: true
ObjCSpaceAfterProperty: true
ColumnLimit: 0
UseTab: Never
BreakBeforeBraces: Linux
AllowShortIfStatementsOnASingleLine: true
IndentCaseLabels: false